.contact {
  position: relative;
  background-color: #010101;
  padding: 2em 10em;

  .pattern-wave {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-image: url("../assets/img/pattern-wave.png");
    background-size: cover;
  }

  .contact_container {
    box-sizing: border-box;
    border-radius: 5px;
    width: 100%;
    max-width: 80%;
    margin: 5vh auto;

    input[type=text], textarea, input[type=email] {
      width: 100%;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      margin-top: 6px;
      margin-bottom: 16px;
      margin-right: 0px;
      margin-left: 0px;
      resize: vertical;
      transition: all 0.3s;

      &:focus{
        border: none;
        outline: unset;
        border-bottom: 4px solid $primary-color;
      }
    }

    label {
      margin-right: 0px;
      margin-left: 0px;
      width: 100%;
      color: #dddddd;
    }

    input[type=submit] {
      background-color: $primary-color;
      color: white;
      padding: 12px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      float: right;
    }

    input[type=submit]:hover {
      background-color: $primary-color;
    }

    h1 {
      font-size: 2.5em;
      color: $primary-color;
      width: 100%;
      margin-bottom: 3vh;
    }
  }
}

@media (max-width: 1025px) {
  .contact{
    padding: 1em 2em;
  }
}