<footer>
    <div class="row wrap contact-me">
        <h4>Me contacter</h4>
        <div class="xLarge"></div>
        <span><strong>Email : </strong>clemtmpl@gmail.com</span>
        <span><strong>Téléphone : </strong>07 61 77 61 11</span>
    </div>
    <span class="span-footer">Site réalisé en Symfony et Sass - 2022 - Copyright&copy; - Clément Temple</span>
</footer>