<section class="row wrap framework" data-aos="fade-right">
    <div class="xLarge-12 large-12 medium-12 small-12 xSmall-12 framework-content">
        <h2>Framework en apprentissage</h2>
        <div class="row wrap logo-framework">
            <img class="medium-6 small-12 xSmall-12" src="{{ asset('assets/img/Sasslogo.png') }}" alt="Sass" title="sass" data-aos="zoom-in">
            <img class="medium-6 small-12 xSmall-12" src="{{ asset('assets/img/symfony-logo.png') }}" alt="Symfony" title="Symfony" data-aos="zoom-in">
            <img class="medium-6 small-12 xSmall-12" src="{{ asset('assets/img/React-icon.svg.png') }}" alt="React" title="React" data-aos="zoom-in">
            <img class="medium-6 small-12 xSmall-12" src="{{ asset('assets/img/Bootstrap_logo.svg.png') }}" alt="Bootstrap" title="Bootstrap" data-aos="zoom-in">
        </div>
    </div>
</section>